* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_404 {
  width: 100%;
  height: 277px;
  background: rgba(19,19,19,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_399 {
  width: 166px;
  height: 119px;
  background: url("../images/v1_399.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 112px;
  overflow: hidden;
}
.v1_54 {
  width: 166px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_398 {
  width: 155px;
  height: 27px;
  background: url("../images/v1_398.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 5px;
  overflow: hidden;
}
.v1_57 {
  width: 27px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_59 {
  width: 21px;
  height: 22px;
  background: url("../images/v1_59.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 67px;
  border: 1.5px solid rgba(255,255,255,1);
}
.v1_60 {
  width: 26px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 129px;
}
.v1_401 {
  width: 565px;
  height: 22px;
  background: url("../images/v1_401.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 120px;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 835px;
  overflow: hidden;
}
.v1_63 {
  width: 187px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: League Spartan;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_64 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 307px;
  font-family: League Spartan;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_65 {
  width: 61px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 504px;
  font-family: League Spartan;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
